.query-container{
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 16px;
  height: fit-content;
  width: fit-content;
}
.query-container-box{
  background-color: rgb(211 211 211);
  border-radius: 30px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: auto;
}
.query-response{ 
    color: #333;
    text-align: justify;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.chatbot-container {
  position: fixed;
  bottom: 0;
  /* right: -7px; */

  margin-top: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 16px;
  height: fit-content;
  width: 96%;
  }
  
  .chatbot-input {
    margin-right: 8px !important;
    border-radius: 16px !important;
  }
  
  .chatbot-button {
    /* margin-bottom: 16px; */
  }
  
  .chatbot-response {
    background-color: rgb(211 211 211);
    margin-top: 15px !important;
    color: #333;
    text-align: justify;
    margin-bottom: 5%;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .MuiInputBase-root{
    border-radius: 16px !important;
  }

  .response-container{
    height: fit-content;
    overflow-y: auto;
    
  }
  .response-container-box{
    background-color: rgb(211 211 211);
    border-radius: 40px;
  }